:root{
    --bs-primary : #ca9c5e;
    --bs-primary-rgb : 202, 156, 94;
    --bs-secondary : #ffffff;
    --bs-secondary-rgb : 255, 255, 255;
    --bs-dark : #0b1517;
    --bs-dark-rgb : 11, 21, 23;
    --bs-text-light : #ffffff;
    --bs-font-sans-serif : 'Reforma 2018 Gris';
	--bs-white : #ffff;
	--bs-border-width : 5px;
	--bs-border-color : #ca9c5e;
}

body{
	overflow-x: hidden;
}

.form-control{
	--bs-border-color: var(--bs-white );
}

.btn-primary{
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
}

.py-120{
	padding-top: 120px;
	padding-bottom: 120px;
}

.py-150{
	padding-top: 150px;
	padding-bottom: 150px;
}

/* header */
header{
	z-index: -10;
}

header .logo img{
    width: 80%;
}

.mega-dropdown-menu{
	width: 100%;
	height: 530px;
	background-color: #fff;
	transition: all 0.5s;
	visibility: hidden;
	overflow-y: Scroll;
	opacity: 0;
	top: 70%;
	left: 0;
	z-index: 10000;
}

.mega-dropdown:hover .mega-dropdown-menu{
	visibility: visible;
	opacity: 1;
}

nav ul li a{
	color: var(--bs-white);
}

nav ul li a:hover{
	color: var(--bs-primary);
	border-bottom: 5px solid var(--bs-primary);
	transition: all 0.5s;
}
nav ul .dropdown:hover .dropdown-menu{
	display: block;
}

/*Banner*/
section{
	width: 100%;
}

.banner{
	background-image: url('../images/banner.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px solid var(--bs-primary);
	color: var(--bs-white);
}		

.banner .banner-content h1{
	font-size: 90px;
}	

.banner .banner-content p{
	font-size: 18px;
}	

.banner{
	z-index: 1;
}	

.banner::after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: -1;
}

.banner .banner-content .button a{
	color: var(--bs-white);
}
/*destination section*/

.left-1{
	left: -5%;
}

.right-1{
	right: -5%;
}
.reservation-right-1{
	width: 250px;
	right: -2%;
}

.d-content h2{
    font-size:16px;
}

.destination .d-content h3{
    font-size:45px;
}	

.fs-headding{
	font-size: 65px;
}

.fs-36{
	font-size: 36px;
}

.fs-24{
	font-size: 24px;
}

.fs-22{
	font-size: 22px;
}

/*Online*/

.online-rg{
	background-image: url('../images/background.jpg');
	background-size: cover;
	z-index: -2;
}

.online-rg::after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: -1;
}


.left-2{
	left: -10%;
}

.right-2{
	right: -7%;
}

.right-3{
	top: 100%;
	left: 2%;
}

.left-3{
	top: 92%;
	left: -12%;
}

.left-4{
	z-index: -1;
}

.right-4{
	top: 70%;
	right: -55%;
	z-index: -1; 
}

.left-5{
	width: 75%;	
	top: 120%;
}
.about-right-5{
	right: -5%;
}

.right-5{
	right: -5%;
}

.left-6{
	top: 83%;
	width: 22%;
	left: -6%;
}

.ct-left-leaf{
	width: 700px;
	left: -35%;
}

.ct-right-leaf{
	right: -6%;
}


/*Footer*/

footer img{
	width: 60%;
}

footer ul li a{
	color: var(--bs-white);
}

footer ul li a:hover{
	color: var(--bs-primary);
}

.l-s{
	letter-spacing: 2px;
}

.fs-65{
	font-size: 65px;
}

.fs-90{
	font-size: 90px;
}

.image-1{
}

.image-2{
	
}

.items .border{
	border-width:1px !important;
}




.p-350{
	padding-top: 350px;
}

/*Banner-2*/

.banner-2{
	background-image: url('../images/banner-3.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px solid var(--bs-primary);
	color: var(--bs-white);
}		

.banner-2 .banner-content h1{
	font-size: 90px;
}	

.banner-2 .banner-content p{
	font-size: 18px;
}	

.banner-2{
	z-index: 1;
}	

.banner-2::after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: -1;
}



/*Background-img*/

.reservation-pg{
	background-image: url('../images/background-2.jpg');
	background-size: cover;
	z-index: -1;
}

.reservation-pg::after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,0.3);
	top: 0;
	left: 0;
	z-index: -1;
}





/*Banner-3*/

.banner-3{
	background-image: url('../images/banner-4.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	border: 10px solid var(--bs-primary);
	color: var(--bs-white);
}		

.banner-3 .banner-content h1{
	font-size: 90px;
}	

.banner-3 .banner-content p{
	font-size: 18px;
}	

.banner-3{
	z-index: -1;
}	

.banner-3::after{
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background-color: rgba(0,0,0,0.1);
	top: 0;
	left: 0;
	z-index: -1;
}

/*Gallery*/

.left-leaff{
	left:30%;
	top:58%;
}

.right-leaff{
	right:15%;
	top:58%;
}

.overl{
	overflow: hidden!important;
	width:95%;
	height:95%;
}

.gallery .hii img:hover{
	scale: 1.2;
}

.gallery .gallery-1 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
	height:330px;
	width:100%;
}


.gallery .gallery-2 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
	overflow: hidden;
	height:330px;
	width:100%;
}


.gallery .gallery-3 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
    height: 330px;
	overflow: hidden;
	width:100%;
}


.gallery .gallery-4 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
	height:330px;
	width:100%;
	overflow: hidden;
}


.gallery .gallery-5 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
	height:330px;
	width:100%;
	overflow: hidden;
}


.gallery .gallery-6 img{
	background-size: cover;
	background-position:center;
	transition:all 0.9s;
	height:330px;
	width:100%;
	overflow: hidden;
}


.left-leafff{
	left:27%;
	top:57%;
}

.right-leafff{
	right:12%;
	top:57%;
}




















