@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Blanca.woff2') format('woff2'),
        url('Reforma2018-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Blanca.woff2') format('woff2'),
        url('Reforma2018-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Blanca.woff2') format('woff2'),
        url('Reforma2018-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-BlancaItalica.woff2') format('woff2'),
        url('Reforma2018-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-BlancaItalica.woff2') format('woff2'),
        url('Reforma2018-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-BlancaItalica.woff2') format('woff2'),
        url('Reforma2018-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-Gris.woff2') format('woff2'),
        url('Reforma2018-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-Gris.woff2') format('woff2'),
        url('Reforma2018-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-Gris.woff2') format('woff2'),
        url('Reforma2018-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-GrisItalica.woff2') format('woff2'),
        url('Reforma2018-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-GrisItalica.woff2') format('woff2'),
        url('Reforma2018-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Gris';
    src: url('Reforma2018-GrisItalica.woff2') format('woff2'),
        url('Reforma2018-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Negra.woff2') format('woff2'),
        url('Reforma2018-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Negra.woff2') format('woff2'),
        url('Reforma2018-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Blanca';
    src: url('Reforma2018-Negra.woff2') format('woff2'),
        url('Reforma2018-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Negra';
    src: url('Reforma2018-NegraItalica.woff2') format('woff2'),
        url('Reforma2018-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Negra';
    src: url('Reforma2018-NegraItalica.woff2') format('woff2'),
        url('Reforma2018-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 2018 Negra';
    src: url('Reforma2018-NegraItalica.woff2') format('woff2'),
        url('Reforma2018-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

