@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Blanca.woff2') format('woff2'),
        url('Reforma1918-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Blanca.woff2') format('woff2'),
        url('Reforma1918-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Blanca.woff2') format('woff2'),
        url('Reforma1918-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-BlancaItalica.woff2') format('woff2'),
        url('Reforma1918-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-BlancaItalica.woff2') format('woff2'),
        url('Reforma1918-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-BlancaItalica.woff2') format('woff2'),
        url('Reforma1918-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-Gris.woff2') format('woff2'),
        url('Reforma1918-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-Gris.woff2') format('woff2'),
        url('Reforma1918-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-Gris.woff2') format('woff2'),
        url('Reforma1918-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-GrisItalica.woff2') format('woff2'),
        url('Reforma1918-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-GrisItalica.woff2') format('woff2'),
        url('Reforma1918-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Gris';
    src: url('Reforma1918-GrisItalica.woff2') format('woff2'),
        url('Reforma1918-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Negra.woff2') format('woff2'),
        url('Reforma1918-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Negra.woff2') format('woff2'),
        url('Reforma1918-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Blanca';
    src: url('Reforma1918-Negra.woff2') format('woff2'),
        url('Reforma1918-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Negra';
    src: url('Reforma1918-NegraItalica.woff2') format('woff2'),
        url('Reforma1918-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Negra';
    src: url('Reforma1918-NegraItalica.woff2') format('woff2'),
        url('Reforma1918-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1918 Negra';
    src: url('Reforma1918-NegraItalica.woff2') format('woff2'),
        url('Reforma1918-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

