@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Blanca.woff2') format('woff2'),
        url('Reforma1969-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Blanca.woff2') format('woff2'),
        url('Reforma1969-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Blanca.woff2') format('woff2'),
        url('Reforma1969-Blanca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-BlancaItalica.woff2') format('woff2'),
        url('Reforma1969-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-BlancaItalica.woff2') format('woff2'),
        url('Reforma1969-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-BlancaItalica.woff2') format('woff2'),
        url('Reforma1969-BlancaItalica.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-Gris.woff2') format('woff2'),
        url('Reforma1969-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-Gris.woff2') format('woff2'),
        url('Reforma1969-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-Gris.woff2') format('woff2'),
        url('Reforma1969-Gris.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-GrisItalica.woff2') format('woff2'),
        url('Reforma1969-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-GrisItalica.woff2') format('woff2'),
        url('Reforma1969-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Gris';
    src: url('Reforma1969-GrisItalica.woff2') format('woff2'),
        url('Reforma1969-GrisItalica.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Negra.woff2') format('woff2'),
        url('Reforma1969-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Negra.woff2') format('woff2'),
        url('Reforma1969-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Blanca';
    src: url('Reforma1969-Negra.woff2') format('woff2'),
        url('Reforma1969-Negra.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Negra';
    src: url('Reforma1969-NegraItalica.woff2') format('woff2'),
        url('Reforma1969-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Negra';
    src: url('Reforma1969-NegraItalica.woff2') format('woff2'),
        url('Reforma1969-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Reforma 1969 Negra';
    src: url('Reforma1969-NegraItalica.woff2') format('woff2'),
        url('Reforma1969-NegraItalica.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

